body {
  font-family: Helvetica;
  margin: 0;
}
.site-header { 
  border-bottom: 2px solid #ccc;
  padding: .5em 1em;
  display: flex;
  justify-content: center ;
  background-color: antiquewhite;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .6em 0;
  display: inline-block;
}

.title-container {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #0E8763;
  }
  border-bottom: 2px solid #ccc;
  padding: .5em 1em;
  background-color: antiquewhite;

}

.body-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 40px;
}

.card {
  border: 2px solid #ccc;
  width: 250px;
  height: fit-content;
}


.logo {
  background: no-repeat url("logo.svg");
  display: block;
  width: 300px;
  height: 300px;
}

.site-navigation {
    align-content: center;
}

.site-navigation ul, 
.site-navigation li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}